@model  WMS.Web.Models.NotificationMappingModel
@{
    ViewBag.Title = "Step 4. Notification Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Step 4. Notification mapping.</strong></h3>

            </div>
            <div class="panel-body small">
                Instructions here...


            </div>

        </div>

    </div>
    <div class="col-md-7">
        @Html.Partial("ModalTemplates/_Status")

        <div id="transaction">
            @using (Ajax.BeginForm("AddNotification", "NotificationMapping",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "data-list"
            }))
            {
                @Html.ValidationSummary(true)
                <div id="alert" class="alert alert-danger hide">
                    <span class="glyphicon glyphicon-remove"></span><strong>Error</strong>
                    <span id="notification"></span>
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">
                    @Html.HiddenFor(model => model.SecuredId)
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.WorkflowId, Model.WorkflowList, new { @class = "combobox combobox-medium" })
                        <p class="small">Selected workflow.</p>
                    </div>

                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.StatusId, Model.StatusList, string.Empty, new { @class = "combobox combobox-medium" })
                        <p class="small">Select status.</p>
                    </div>

                    <div class="editor-field">

                        @Html.CkEditorFor(model => model.EmailContent, new { @class = "ckeditor" })
                        <p class="small">Specify the email notification.</p>


                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.SMSContent, new { @class = "form-control" })
                        <p class="small">Specify the sms notification.</p>
                    </div>
                </div>

                <div class="left">
                    <button class="btn btn-large btn-success" type="submit">
                        Add Notification
                    </button>


                </div>


            }

            @Html.Partial("Partial/Notification", Model)
        </div>



        <div class="right">
            <button id="btnSkip" class="btn btn-large btn-success" type="button">
                Skip
            </button>
            <button id="btnSaveAndNext" class="btn btn-large btn-success" type="button">
                Finish
            </button>

        </div>
    </div>
</div>


@Html.Hidden("New", Url.Action("SaveNotification"))
@Html.Hidden("RedirectAction", Url.Action("Index", "Workflow"))

