@model  WMS.Web.Models.NotificationMappingModel
@{
    ViewBag.Title = "Manage Notification Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Wofklow notification mapping.</strong></h3>

            </div>
            <div class="panel-body small">
                Instructions here...


            </div>

        </div>

    </div>
    <div class="col-md-7">

        @Html.Partial("ModalTemplates/_Status")
        <div id="transaction">
          @using (Ajax.BeginForm("AddNotification", "NotificationMapping",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "data-list"
            }))
{
                  @Html.ValidationSummary(true)
                <div id="alert" class="alert alert-danger hide">
                    <span class="glyphicon glyphicon-remove"></span><strong>Error</strong>
                    <span id="notification"></span>
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">

                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.WorkflowId, Model.WorkflowList, new { @class = "combobox combobox-medium" })
                        <p class="small">Selected workflow.</p>
                    </div>

                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.StatusId, Model.StatusList, string.Empty, new { @class = "combobox combobox-medium" })
                        <p class="small">Select status.</p>
                    </div>

                    <div class="editor-field">

                        @Html.CkEditorFor(model => model.EmailContent, new { @class = "ckeditor", @id = "EmailContent-Edit", @name = "EmailContent-Edit" })
                        <p class="small">Specify the email notification.</p>


                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.SMSContent, new { @class = "form-control" })
                        <p class="small">Specify the sms notification.</p>
                    </div>
                </div>

                <div class="left">
                    <button class="btn btn-large btn-success" type="submit">
                        Add Notification
                    </button>


                </div>


            }

            @Html.Partial("Partial/Notification", Model)
        </div>

        </div>



        <div class="right">
            <button id="btnBack" class="btn btn-large btn-success" type="button">
                Back
            </button>
            <button id="btnCancel" class="btn btn-large btn-success" type="button">
                Cancel
            </button>
            <button id="btnModify" class="btn btn-large btn-success" type="button">
                Save Changes
            </button>

        </div>
    </div>



@Html.Hidden("Manage", Url.Action("SaveChangesInNotificationMapping"))
@Html.Hidden("Add", Url.Action("AddNotification"))
@Html.Hidden("RedirectAction", Url.Action("Index", "WorkflowMapping"))
@Html.Hidden("Cancel", Url.Action("Index","Workflow"))


<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('EmailContent-Edit')
    });
</script>